@model TinyBlog.ViewModel.ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}
<div class="container-fluid">

    <a class=" mb-2 btn btn-success" asp-action="Index" asp-controller="User" asp-area="Admin">BACK TO INDEX</a>
    <div class="card">
        <div class="card-head bg-primary">
            <h2 class="text-white mt-2 ml-3">Reset Password</h2>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Username" />

            <form method="post" asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                <div class="mb-2">
                    <label>Username</label>
                    <input type="text" asp-for="Username" class="form-control" disabled/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
           
               
                <button type="submit" class="btn btn-primary">Save</button>

            </form>

        </div>

    </div>

</div> 